body,h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}
.carousel-caption {
    bottom: initial;
    top: calc(50% - 41px);
}
.carousel-caption h2{
    font-family: 'Roboto Regular', sans-serif; 
    font-weight: 400;
    font-size: 35px;
    color: #ffffff;
}
.navbar{
    border: none;
    background-color: #2d3e83;
    border-radius: inherit;
    padding-bottom: 60px;
    margin-bottom: 0;
}
.navbar-nav{
    margin-top: 26px;
    //  margin-bottom: 60px;
    background-color: #2d3e83;
}
.navbar-nav ul{
    padding: 0;
}
.navbar-default .navbar-nav>li>a{
    font-family: 'Roboto Regular', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #7d8cc8;
}
.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:hover{ 
    color: white;
    transition: all .25s;
}
.navbar-nav li a{  
    padding-bottom:5px;
    line-height: 15px;
}
.navbar-toggle {
    position: relative;
    padding: 9px 10px;
    margin-top: 40px;
    margin-right: 15px;
    margin-bottom: 50px;
}
.clearfix{
    clear: both;
}
/* ===     article 1   ==== */
.article1{
    margin-top: 100px;
    margin-bottom: 50px;
}
.article1 h2{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 900;
    color: #2d3e83;
    padding-bottom: 25px;
}
.article1 h4{
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    padding-bottom: 26px;
    font-size: 22px;
}
.article1 p{
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* ===     article 2   ==== */
.bg_color{
    background-color: #ede8e8;
}
.article2{
    margin-top: 50px;
    margin-bottom: 50px;

}/*
.article2 h1{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 900;
    color: #2d3e83;
    font-size: 33px;
    padding-bottom: 22px;
}*/
.article2 p{
    font-family: 'Roboto Italic', sans-serif;
    font-style: italic;
    font-size: 16px;
    padding-bottom: 22px;
}

.article2 h3{
    font-family: 'Roboto Bold Italic', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}
.services{
    padding-top: 22px;
}
.media-body h4{
    font-family: 'Roboto Medium Italic', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
}

/* ===     article 3   ==== */
.article3{
    margin-top: 50px;
    margin-bottom: 50px;
}
.article3 h1{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 900;
    color: #2d3e83;
    font-size: 33px;
    padding-bottom: 22px;
}
.article3 p{
    font-family: 'Roboto Italic', sans-serif;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 15px;
}
/*
.enterprise{ 
    margin-top: 80px;
    margin-bottom: 190px;
}
.enterprise_img{
    background-image: url("../img/enterprise.png");
    background-size: 100% auto;
    background-color: black;
    height: 75px;

}
*/

.profile{
    margin-top: 50px;
    margin-bottom: 50px;
}
.profile h2{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 900;
    color: #2d3e83;
    font-size: 33px;
    padding-bottom: 22px;
}
.profile p{
    font-family: 'Roboto Italic', sans-serif;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 15px;
    color: #a6a6a6;
}
.profile p a{
    color: #495894;
    font-family: 'Roboto Bold Italic', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    text-decoration: underline;
}
/*   ==== footer area   ===      */

footer{
    margin-top: 50px;
    background: #2a2d33;
    color: #e4ecf1;
}
.sosila_link ul{
    margin: 0;
    padding: 0;
}
.sosila_link ul li{
    padding-right: 5px;
    margin-top: 20px;
    display: inline-block;
}
.sosila_link ul li a {
    background-color: #26292f;
    border: 1px solid #35383e;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: block;
}
.sosila_link ul li a:hover{
    background: #35383e;
    transition: all .25s;
}

.link ul{
    margin: 10px 0 0 0;
    padding: 0;
}
.link ul li{
    display: block;
    padding-bottom: 5px;
}
.link ul li a{
    color: gainsboro;
    text-decoration: none;
    font-family: 'Roboto Italic', sans-serif;
    font-style: italic;
}
.link1{
    padding-top: 20px;
}
.footer_top{
    padding:60px 0 50px 0;
}
.footer_bottom{
    background: #25292f;
    padding: 22px 0;
}
.contact h4{
    margin-bottom: 10px;

}